In [2]:
import pandas as pd

test_data = "Dataset/titanic/train.csv"
test_df = pd.read_csv(test_data)

In [4]:
test_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [5]:
!pip install sweetviz

Looking in indexes: http://mirrors.aliyun.com/pypi/simple/
Collecting sweetviz
  Downloading http://mirrors.aliyun.com/pypi/packages/89/50/8d3f7ca820267a38b42c64778db0f186d85cec6e3f0c5210eab9c16e783f/sweetviz-2.3.1-py3-none-any.whl (15.1 MB)
     -------------------------------------- 15.1/15.1 MB 581.3 kB/s eta 0:00:00
Collecting jinja2>=2.11.1
  Downloading http://mirrors.aliyun.com/pypi/packages/31/80/3a54838c3fb461f6fec263ebf3a3a41771bd05190238de3486aae8540c36/jinja2-3.1.4-py3-none-any.whl (133 kB)
     ------------------------------------ 133.3/133.3 kB 523.5 kB/s eta 0:00:00
Requirement already satisfied: scipy>=1.3.2 in d:\software\anaconda\envs\ml\lib\site-packages (from sweetviz) (1.9.3)
Collecting importlib-resources>=1.2.0
  Downloading http://mirrors.aliyun.com/pypi/packages/75/06/4df55e1b7b112d183f65db9503bff189e97179b256e1ea450a3c365241e0/importlib_resources-6.4.0-py3-none-any.whl (38 kB)
Requirement already satisfied: numpy>=1.16.0 in d:\software\anaconda\envs\ml\lib\site-packages (from sweetviz) (1.23.5)
Collecting tqdm>=4.43.0
  Downloading http://mirrors.aliyun.com/pypi/packages/18/eb/fdb7eb9e48b7b02554e1664afd3bd3f117f6b6d6c5881438a0b055554f9b/tqdm-4.66.4-py3-none-any.whl (78 kB)
     -------------------------------------- 78.3/78.3 kB 624.2 kB/s eta 0:00:00
Requirement already satisfied: matplotlib>=3.1.3 in d:\software\anaconda\envs\ml\lib\site-packages (from sweetviz) (3.6.2)
Requirement already satisfied: pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3 in d:\software\anaconda\envs\ml\lib\site-packages (from sweetviz) (1.5.2)
Collecting zipp>=3.1.0
  Downloading http://mirrors.aliyun.com/pypi/packages/7f/2d/670176f39d6613af2908b5bc31c9974588208de1fcc4117dfae08623d188/zipp-3.19.0-py3-none-any.whl (8.3 kB)
Collecting MarkupSafe>=2.0
  Downloading http://mirrors.aliyun.com/pypi/packages/92/21/357205f03514a49b293e214ac39de01fadd0970a6e05e4bf1ddd0ffd0881/MarkupSafe-2.1.5-cp38-cp38-win_amd64.whl (17 kB)
Requirement already satisfied: pyparsing>=2.2.1 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (4.38.0)
Requirement already satisfied: kiwisolver>=1.0.1 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (9.3.0)
Requirement already satisfied: python-dateutil>=2.7 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (2.8.2)
Requirement already satisfied: cycler>=0.10 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (0.11.0)
Requirement already satisfied: contourpy>=1.0.1 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (1.0.6)
Requirement already satisfied: packaging>=20.0 in d:\software\anaconda\envs\ml\lib\site-packages (from matplotlib>=3.1.3->sweetviz) (21.3)
Requirement already satisfied: pytz>=2020.1 in d:\software\anaconda\envs\ml\lib\site-packages (from pandas!=1.0.0,!=1.0.1,!=1.0.2,>=0.25.3->sweetviz) (2022.6)
Requirement already satisfied: colorama in d:\software\anaconda\envs\ml\lib\site-packages (from tqdm>=4.43.0->sweetviz) (0.4.5)
Requirement already satisfied: six>=1.5 in d:\software\anaconda\envs\ml\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1.3->sweetviz) (1.16.0)
Installing collected packages: zipp, tqdm, MarkupSafe, jinja2, importlib-resources, sweetviz
Successfully installed MarkupSafe-2.1.5 importlib-resources-6.4.0 jinja2-3.1.4 sweetviz-2.3.1 tqdm-4.66.4 zipp-3.19.0

In [7]:
import sweetviz as sv
# Generate the report
report = sv.analyze(test_df)

# Show the report
report.show_html("sweetviz_report.html")

Done! Use 'show' commands to display/save.   |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| [100%]   00:00 -> (00:00 left)

Report sweetviz_report.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [3]:
import dtale
d = dtale.show(test_df)
d.open_browser()

d:\software\anaconda\envs\ML\lib\site-packages\dtale\views.py:816: FutureWarning:

['Cabin', 'Embarked'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.

2024-05-31 17:53:39,638 - INFO     - Executing shutdown due to inactivity...
2024-05-31 17:53:56,063 - INFO     - Executing shutdown...
2024-05-31 17:53:56,067 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer

In [9]:
import plotly.express as px
from dash import Dash, dcc, html
from dash.dependencies import Input, Output
import pandas as pd

# Load the Titanic dataset
df = test_df

# Initialize the Dash app
app = Dash(__name__)

# Layout of the app
app.layout = html.Div([
    dcc.Dropdown(
        id='x-axis-dropdown',
        options=[{'label': col, 'value': col} for col in df.columns if col not in ['Name', 'Ticket', 'Cabin']],
        value='Age'
    ),
    dcc.Dropdown(
        id='y-axis-dropdown',
        options=[{'label': col, 'value': col} for col in df.columns if col not in ['Name', 'Ticket', 'Cabin']],
        value='Fare'
    ),
    dcc.Graph(id='scatter-plot')
])

# Callback to update the scatter plot based on dropdown selection
@app.callback(
    Output('scatter-plot', 'figure'),
    Input('x-axis-dropdown', 'value'),
    Input('y-axis-dropdown', 'value')
)
def update_scatter_plot(x_axis, y_axis):
    fig = px.scatter(df, x=x_axis, y=y_axis, title=f'Scatter plot of {x_axis} vs {y_axis}')
    return fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

In [11]:
import plotly.express as px
import plotly.graph_objects as go
from dash import Dash, dcc, html
from dash.dependencies import Input, Output
import pandas as pd
import numpy as np

df = test_df
# Initialize the Dash app
app = Dash(__name__)

# Layout of the app
app.layout = html.Div([
    dcc.Graph(
        id='heatmap',
        figure=go.Figure(
            data=go.Heatmap(
                z=df.values,
                x=df.columns,
                y=df.index,
                colorscale='Viridis'
            ),
            layout=go.Layout(
                title='Interactive Heatmap',
                xaxis_title='Columns',
                yaxis_title='Rows'
            )
        )
    ),
    html.Div(id='output-div')
])

# Callback to update the output div based on heatmap click
@app.callback(
    Output('output-div', 'children'),
    Input('heatmap', 'clickData')
)
def display_click_data(clickData):
    if clickData is None:
        return 'Click on a cell in the heatmap to see the details here.'
    else:
        point = clickData['points'][0]
        x_value = point['x']
        y_value = point['y']
        z_value = point['z']
        return f'You clicked on cell with value: {z_value}, at column: {x_value}, row: {y_value}.'

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

In [13]:
import pandas as pd

# Create two DataFrames
df1 = pd.DataFrame({'A': [1.0, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [1, 1, 1], 'B': [2, 2, 2]})

# Subtract df2 from df1
result = df1 - df2

print(result)

     A  B
0  0.0  2
1  1.0  3
2  2.0  4